body {
	--text-color: #fbfbff;
	--background: #00ACED;
	--background2: #0b4F6C;
	--highlight: #B80C09;
	--dark: #040F16;

	color: var(--text-color);
	background: var(--background);
	
  font-family: Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.palette2 {
	--text-color: #fbfbff;
	--background: #00ACED;
	--background2: #0b4F6C;
	--highlight: #5941A9;
	--dark: #1D1128;
}

input {
	padding: .375rem .75rem;
	color: #212529;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	display: block;
	font: inherit;
	resize: none;
}

button.btn {
	background-color: var(--background2);
	color: var(--text-color);
	border-radius: 0.2em;
	border: none;
	padding: 0.4em 1.5em;
	font-weight: 600;
	cursor: pointer;
	height: 2em;
	position: relative;
	margin: .25rem 0;
}

button.btn.dark {
	background-color: var(--dark);
}
button.btn.highlight {
	background-color: var(--highlight);
}

.error-display {
	color: #700;
}