body {
	--text-color: #fbfbff;
	--background: #00ACED;
	--background2: #126c92;
	--highlight: #07ebb9;
	--background-error: #8f2a2a;
	--background-input: white;
	--input-text-color: black;

	--text-color-filter: brightness(0) saturate(100%) invert(85%) sepia(26%) saturate(362%) hue-rotate(201deg) brightness(101%) contrast(124%);

	color: var(--text-color);
	background: var(--background);
	
	font-family: Avenir, Helvetica, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.palette2 {
	--text-color: #fbfbff;
	--background: #00ACED;
	--background2: #0b4F6C;
	--highlight: #5941A9;
}

#app {
	min-height: 100vh;
}

input, textarea, button, select {
	background-color: transparent;
	border: none;
}

a {
	color: inherit;
}